@import url( "http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css" )


//////////////// $VARIABLES ////////////////

///// $Colors /////

$white    = white 
$lighter  = #E8D0FD
$light    = #B9A5CA
$medium   = #C484FD
$medium2  = #895CB1
$dark     = #61417D
$darker   = #312140
$black    = #333


////// $SIZES /////

$footer_height = 200px


//////////////// $MIXINS ////////////////

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor( 'border-radius' , arguments )

appearance()
  vendor( 'appearance' , arguments )

Gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
  background-color startColor
  if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
    background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

text-shadow( color , mode = darken )
  color color
  text-shadow 1px 1px 0px mode( color , 35% )



//////////////// $GENERAL //////////////////

html, body
  height 100%

body
  font-size 14px // define em value

.all
  min-height: 100%;
  height: auto !important;
  height: 100%;
  
  background-image url('../images/bkgs/bkg-grain.png')


input
  display block
  margin-bottom 1em







//////////////// $ELEMENTS ////////////////

.must-header
  background-color $darker
  color $white




.must-page
  margin-top 3em
  margin-bottom 3em

  


.must-footer 
  background-color $darker
  color $white

.push 
  margin-bottom - $footer_height

.push,.sticky-footer
  height $footer_height



//////////////// $MODULES & $COMPONENTS //////////////////

.navbar-inverse .navbar-inner
  background-color $darker
  background-image none



/// $#FEED

#feed

  header
    margin-bottom 1em
    
    .dropdown-filter
      margin-right 1em
      margin-top .3em


/// $SETTINGS

#settings
  
  .services
    
    li
      text-align center
      -webkit-filter grayscale(.9)
      
    li.active,li:hover
      -webkit-filter: grayscale(0);  



//////////////// $OBJECTS //////////////////

.clear
  clear both
  
.error
  color red 
  
.success
  color $medium    

