//////////////// $VARIABLES ////////////////

///// $Colors /////

$white    = white 
$lighter  = #E8D0FD
$light    = #B9A5CA
$medium   = #C484FD
$medium2  = #895CB1
$dark     = #61417D
$darker   = #312140
$black    = #333

$grey = #444
$grey-light = #cdcdcd

////// $SIZES /////

$footer_height = 20px


//////////////// $MIXINS ////////////////

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor( 'border-radius' , arguments )

appearance()
  vendor( 'appearance' , arguments )

Gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
  background-color startColor
  if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
    background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

text-shadow( color , mode = darken )
  color color
  text-shadow 1px 1px 0px mode( color , 35% )



//////////////// $GENERAL //////////////////

html, body
  //height 100%

body
  padding 3em 0
  background-image url('/images/bkgs/bkg-grain.png')
  background-color white
  
  font-family 'Lato' , 'Helvetica Neue', Helvetica, Arial, sans-serif;

.all
  //min-height: 100%;
  //height: auto !important;
  //height: 100%;
  
  
  //background-repeat no-repeat
  //background-size 100%


h5
  font-weight 300


input
  display block
  margin-bottom 1em







//////////////// $ELEMENTS ////////////////

.must-header
  //background-color $darker
  //color $white




.must-page
  margin-top 2em

  


.must-footer 
  background-color $darker
  color $white

.push 
  margin-bottom - $footer_height

.push,.sticky-footer
  height $footer_height
  
.page-init

  .supersized  
    background-image url('/images/bkgs/bkg-manhattan-night-blurry_mini.jpg')
    background-repeat no-repeat
    background-size cover
    background-position 50%
    position fixed
    width 100%
    height 100%
    top 0
    z-index -999

//////////////// $MODULES & $COMPONENTS //////////////////

.navbar-inverse .navbar-inner
  //background-color $darker
  //background-image none



/// $#FEED

#feed

  header
    margin-bottom 1em
    
    .dropdown-filter
      margin-right 1em
      margin-top .3em

#layout-grid
  
  .thumb
    height 220px
    
    .wrapper
      height 170px
      overflow hidden
      display block
      position relative
      margin-bottom .5em
      background #333
      
      img 
        width 100%
        
      .caption
        color white
        bottom 0  
        position absolute
        
        width 100%
        padding 0 .3em 
        background-image url('/images/bkgs/transparent/bkg-transparent-b7.png')        
        font-weight 100
        
    .post-info
      color #aaa     
  
#layout-list
  
  .item
    padding 1.5em 0
    border-top 1px solid white
    border-bottom 1px solid $grey-light
    
  .item:first-child
    border-top 0
    
  .item:last-child
    border-bottom 0
    
      
  

/// $SETTINGS

#settings
  
  .services
    
    li
      text-align center
      //-webkit-filter grayscale(.9)
      
    li.active,li:hover
      //-webkit-filter: grayscale(0);  



//////////////// $OBJECTS //////////////////

.clear
  clear both
  
.error
  color red 
  
.success
  color $medium    

.transparent
  background-color transparent
  background-image url('/images/bkgs/transparent/bkg-transparent-w8.png')  
