@import url("http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css");
html,body{height:100%}
body{font-size:14px}
.all{min-height:100%;height:auto !important;height:100%;background-image:url("../images/bkgs/bkg-grain.png")}
input{display:block;margin-bottom:1em}
.must-header{background-color:#312140;color:#fff}
.must-page{margin-top:3em;margin-bottom:3em}
.must-footer{background-color:#312140;color:#fff}
.push{margin-bottom:-200px}
.push,.sticky-footer{height:200px}
.navbar-inverse .navbar-inner{background-color:#312140;background-image:none}
#settings .services li{text-align:center;-webkit-filter:grayscale(.9)}
#settings .services li.active,#settings .services li:hover{-webkit-filter:grayscale(0)}
.clear{clear:both}
.error{color:#f00}
.success{color:#c484fd}
